@import "base.css";
/*head*/
header{
    height: 0.88rem;
    color: #4ebbfe;
    display: flex;
    padding: 0 0.22rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0.03rem 0.43rem 0 rgba(41, 167, 255, 0.1);
}
header > p{
    font-size: 0.38rem;
}
header a{
    color: #4ebbfe;
    width: 0.16rem;
    height: 0.16rem;
}
/*section*/
section{
    padding: 0 0.22rem;
}
section > .rechargeCount{
    width: 100%;
    height: 1.84rem;
    border-bottom: 0.02rem solid rgba(0,0,0,0.1);
}
.confirm{
    margin: 0 auto;
    padding: 0.79rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.confirm > span {
    font-size: 0.26rem;
    opacity: 0.7;
    position: relative;
}
.confirm > span:nth-child(1)::before{
    content: '';
    display: block;
    width: 0.1rem;
    height: 0.05rem;
    background-color: #34da87;
    box-shadow: 0 0.02rem 0.05rem 0 rgba(52, 218, 135, 0.43);
    border-radius: 0.03rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-200%,0);
}
.confirm > span:nth-child(3)::before{
    content: '';
    display: block;
    width: 0.1rem;
    height: 0.05rem;
    background-color: #34da87;
    box-shadow: 0 0.02rem 0.05rem 0 rgba(52, 218, 135, 0.43);
    border-radius: 0.03rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(200%,0);
}
.confirm > strong {
    font-size: 0.46rem;
    margin: 0 0.1rem;
    color: #525f67;
}
.payment > li{
    width: 100%;
    height: auto;
    margin: 0.6rem 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    position: relative;
}
.payment > li > span{
    margin-right: 0.3rem;
}
.payment:nth-child(2) > li > span{
    font-size: 0.8rem;
    color: #37e06f;
}
.payment:nth-child(3) > li > span{
    font-size: 0.8rem;
    color: #00a9f2;
}
.payment > li > strong{
    font-size: 0.28rem;
    color: #47505f;
}
.payment > li > p{
    width: 0.32rem;
    height: 0.32rem;
    float: right;
    border-radius: 50%;
    border: 0.01rem solid #e9eaed;
    box-shadow: 0 0.01rem 0.25rem 0 rgba(227, 227, 227, 0.75);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0,-50%);
}
.payment > li > p.hot{
    background: #00c1de;
}
.Recharge{
    width: 3.96rem;
    height: 0.6rem;
    display: block;
    margin: 0 auto;
    line-height: 0.6rem;
    text-align: center;
    font-size: 0.2rem;
    color: #ffffff;
    background-image: linear-gradient(90deg, #37e06f 0%, #31d69a 100%);
    box-shadow: 0 0.04rem 0.2rem 0 rgba(55, 223, 116, 0.75);
    border-radius: 0.3rem;
}