.head{
    width: 100%;
    height: 0.88rem;
    padding: 0 0.22rem;
    box-sizing: border-box;
    background: #fdfff8;
    font-size: 0.38rem;
    line-height: 0.88rem;
    display: flex;
    justify-content: space-between;
}
.head >a{
    color: #4ebbfe;
}
.head span{
    color:#4ebbfe ;
}
.search{
    width: 7.12rem;
    height: 0.6rem;
    background: #ebf7ff;
    margin: 0rem auto;
    opacity: 0.58;
    border-radius: 0.3rem;
}
.search p{
    width: 2.73rem;
    height: 0.23rem;
    font-size: 0.24rem;
    font-weight: normal;
    float: left;
    margin: 0.18rem 0.29rem 0 0.19rem;
    color: #000000;
    opacity: 0.5;

}
.search .tubiao{
    width: 0.79rem;
    height: 0.44rem;
    border-radius: 0.21rem;
    float: right;
    margin-top: 0.08rem;
    margin-bottom: 0.08rem;
    margin-right: 0.09rem;
}
.search img{
    width: 100%;
    height: 100%;
}
.category {
    width: 100%;
    height: 0.52rem;
    margin-top: 0.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.category .one{
    width: 1.33rem;
    height: 100%;
    background: #3babff;
    border-radius: 0.24rem;
    background: rgba(59,171,255,0.1);
    text-align: center;
    color: #36a8fe;
    margin-right: 0.2rem;
}
.category .one1{
    width: 1.33rem;
    height: 100%;
    background: #3babff;
    border-radius: 0.24rem;
    background: rgba(59,171,255,1);
    text-align: center;
    color: #ffffff;
    margin-right: 0.2rem;
}
.picture{
    width: 7.03rem;
    height: 2.71rem;
    margin: 0.2rem auto;
    overflow: hidden;
}
.picture img{
    width: 100%;
    height: 100%;
    border-radius: 0.1rem;
}
.recmd{
    width: 100%;
    height: auto;
    margin-bottom: 0.4rem;
}
.first{
    width: 100%;
    height: 1rem;
    margin-top: 0.20rem;
    padding: 0.2rem;
    box-sizing: border-box;
    position: relative;
}
.first .hot{
    width: 1.6rem;
    height: 0.5rem;
}
.hot p{
    font-size: 0.32rem;
    font-weight: bolder;
    line-height: 0.5rem;
    position: relative;
    margin-left: 0.21rem;
}
.hot p::before{
    content: '';
    position: absolute;
    width: 0.06rem;
    height: 0.06rem;
    left: -0.15rem;
    top: 0.20rem;
    border-radius: 50%;
    background: #36a8fe;
}
.recmd .all{
    width: 1.4rem;
    height: 0.5rem;
    position: absolute;
    right: 0;
    bottom: 0.2rem;
    font-size: 0.22rem;
    color: #3bacfe;
}
.recmd .second{
    height:8rem;
    width: 100%;
    box-sizing: border-box;
    padding: 0 0.22rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-around;
}
.second li{
    width: 3.4rem;
    height: 3.86rem;
    margin-bottom: 0.2rem;
}
.second >li >a{
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
}
.second >li >a img{
    width: 1.7rem;
    height: 1.7rem;
    margin-top: 0.15rem;
}
.second .nameprice{
    width: 100%;
    height: 0.35rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    margin-top: 0.44rem;

}
.nameprice .name{
    width: 2.15rem;
    height: 0.28rem;
    font-size: 0.30rem;
    font-weight: normal;
    color: #000000;
    opacity: 0.6;
}
.nameprice .price{
    width: 0.80rem;
    height: 0.25rem;
    font-size: 0.28rem;
    font-weight: normal;
    color: #fbb548;
}
.second .Engname{
    width: 100%;
    height: 0.16rem;
    font-size: 0.22rem;
    font-weight: normal;
    color: #000000;
    margin-top: 0.1rem;
}
.second .score {
    width: 100%;
    height: 0.26rem;
    font-size: 0.22rem;
    color: #333333;
    line-height: 100%;
    margin-top: 0.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.second .score span{
    position: relative;
    /*margin-right: 0.38rem;*/
    margin-left: 0.2rem;
}
.second .score  >span::before{
    content: '';
    position: absolute;
    width: 0.06rem;
    height: 0.06rem;
    left: -0.15rem;
    top: 0.14rem;
    border-radius: 50%;
    background: #36a8fe;
}
.second .score strong{
    font-size: 0.26rem;
    color: #36a8fe;
}
.second .tag{
    width:100% ;
    height: 0.26rem;
    font-size: 0.20rem;
    color: #36a8fe;
    line-height: 100%;
    margin-top: 0.3rem;
}
.second .tag span{
    width: 1.21rem;
    height: 0.35rem;
    color:#36a8fe ;
    background: rgba(59,171,255,0.1);
    border-radius: 0.3rem;
    margin-right: 0.2rem;
}
.nav{
    width: 100%;
    height: 0.98rem;
    display: flex;
    justify-content:space-around;
    /*position: fixed;*/
    left: 0rem;
    bottom: 0rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;

}
.nav a{
    width: 0.7rem;
    height: 100%;
    flex-direction: column;
    display: flex;
    text-align: center;
    padding-top: 0.1rem;
    box-sizing: border-box;
    font-size: 0.24rem;
    color: #100b10;
    opacity: 0.5;
    align-items: center;
    justify-content: space-between;
}
.nav >a.hot2{
    opacity: 1;
}
.nav >a img{
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
}